---
// src/pages/index.astro
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p>
			Congrats on starting your first Astro project!
		</p>
		<p>
			Check out the <a href="https://docs.astro.build">Astro documentation</a> for more.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		font-weight: 900;
		background-image: linear-gradient(var(--accent-light), var(--accent-dark));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: gradient 5s ease infinite;
	}
	@keyframes gradient {
		0% {
			background-position-y: 100%;
		}
		50% {
			background-position-y: 0%;
		}
		100% {
			background-position-y: 100%;
		}
	}
</style>