---
import Layout from '@/layouts/Layout.astro';
import Welcome from '@/components/Welcome.astro';

const pageTitle = "ClubsPro";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <Welcome />
  <p>Bienvenido a nuestra página de inicio. ¡Gracias por visitar!</p>
</Layout>
